.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11.5rem;
}

.swiper-slide img {
    background: #fff;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 12rem; */
}

.swiper-pagination-bullet {
    display: none !important;
}

.swiper-pagination-bullet-active {
    background: rgb(95, 41, 183) !important;
}