#button {
    .btn {
        position: relative;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: .8em 2em;
        display: flex;
        border-radius: 6em;
        transition: all .2s;
        border: none;
        font-family: inherit;
        font-weight: 500;
        color: #fff;
        background-color: #5f29b7;
    }

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px #8554b246;
    }

    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    .btn::after {
        background-color: #5f29b7;
    }

    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        color: rgb(255, 255, 255);
        font-family: NekstSemiBold;
        border: none;
        font-weight: 400;
        line-height: 93%;
        border-radius: 4.38rem;
        background: rgb(95, 41, 183);
        padding: .8rem 2rem;
        font-size: 1.5rem;
        letter-spacing: .03rem;
    }

    @media (max-width:500px) {
        button {
            font-size: 1.3rem;
            gap: 1rem;
            padding: .7rem 2rem;
        }
    }
}