.canva3d{
    width: 500px;
    height: 660px;
    overflow: hidden;
}

@media (max-width:787px) {
    .canva3d{
        height: 500px;
    }
}
@media (max-width:500px) {
    .canva3d{
        height: 400px;
    }
}